<!DOCTYPE html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/png" href="{{headLogo}}">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">

</head>

<main role="main" class="container-md">
    <body style="background:black">
        <div id="vue-app" style="background:black">
            <div :class="getMargin()" id="tradingdesk">



                <table class="table table-dark" class="table-responsive">
                    <thead>
                    <tr>
                        <th scope="col">PetraTechs</th>
                        <th scope="col">Trading Desk</th>
                    </tr>
                    </thead>
                <tbody>
                    <tr>

                    </tr>
                    <tr>
                        <th class="" scope="row"><span @click="">Exchange </span> </th>
                        <td class="text-info" scope="row"><span @click="">Kraken Futures </span> </td>
                    </tr>
                    <tr>
                        <th class="" scope="row"><span @click="">Status </span> </th>
                        <td class="text-danger" scope="row"><span @click="">Demo Mode </span> </td>
                    </tr>
                    <tr>
                        <th class="" scope="row"><span @click="">Funds </span> </th>
                        <td class="text-warning" scope="row"><span @click="getFunds()"> [[funds]]  </span> </td>
                    </tr>
                    <tr>
                        <th class="" scope="row"><span @click="">Code</span> </th>
                        <td class="text-warning" scope="row"><input class="text-light bg-dark" type="int" v-model="passcode"></input> <span class="text-danger">[[codeNotice]]</span> </td>
                    </tr>

                </tbody>

                </table>

                <br>

                <table class="table table-dark" class="table-responsive">
                    <thead>
                    <tr>
                        <th class="bg-dark" scope="col" style="width:10%">Asset</th>
                        <th scope="col" style="width:15%">Lev(x)</th>
                        <th scope="col" style="width:15%">Stop(Tick)</th>
                        <th scope="col" style="width:15%">Prop(%)</th>
                        <th scope="col">Price</th>
                        <th scope="col">Position</th>
                        <th scope="col">Edit</th>
                        <th scope="col">Show</th>
                    </tr>
                    </thead>
                <tbody>
                    <template v-for="(item, key) in assets" :key="key" >
                        <tr class="">
                            <th :class="getSideColor(key)" scope="row"><span>[[key.toUpperCase() ]]</span> </th>
                            <td class="" ><span v-if="editAsset == key"> <input :class="getSideColor(key)" type="number"  v-model="parameters.lev"></input></span><span v-else>[[item.lev]]<span></td>
                            <td class="" ><span v-if="editAsset == key"> <input :class="getSideColor(key)" type="number"  v-model="parameters.stop"></input></span><span v-else>[[item.stop]]<span></td>
                            <td class="" ><span v-if="editAsset == key"> <input :class="getSideColor(key)" type="number"  v-model="parameters.prop"></input></span><span v-else>[[item.prop]]<span></td>
                            <td class="" ><span>[[item.price]]</span></td>
                            <td class="" ><span>[[item.position]] <span v-if="item.position">([[item.lastlev]]x  [[item.lastprop]]%)</span></span></td>
                            <td class="">
                                <button @click="editSave(key)" type="button" class="btn btn btn-secondary">
                                    <span v-if="editAsset == key"> Save </span>  <span v-else> Edit </span>
                                </button>
                            </td>
                            <td class="">
                                <button @click="toggleData(key)" type="button" class="btn btn btn-secondary">
                                    <span > [[showData]] </span>
                                </button>
                            </td>
                        </tr>
                            <template v-if="showAsset == key && showData == 'Alerts'" v-for="(alert, k) in item.webhooks" :key="k" >
                                <tr v-if="k < rows">
                                    <td class="" colspan="2">[[alert.TIME]]</td>
                                    <td class="" colspan="2">[[alert.SIDE]]</td>
                                    <td class="" colspan="2">[[alert.TICKER]]</td>
                                    <td class="" colspan="2">tf.[[alert.TF]]</td>
                                </tr>
                            </template>
                            <template v-if="showAsset == key && showData == 'Errors'" v-for="(error, e) in item.errors" :key="e" >
                                <tr v-if="e < rows">
                                    <td class="" colspan="8">[[error]]</td>
                                </tr>
                            </template>
                            <template v-if="showAsset == key && showData == 'Trades'" v-for="(trade, t) in item.trades" :key="t" >
                                <tr v-if="t < rows">
                                    <td class="" colspan="8">[[trade]]</td>
                                </tr>
                            </template>


                    </template>


                </tbody>

                </table>







            </div> <!-- end trading desk-->

            <div :class="getMargin()" id="records">





            </div> <!-- end trading desk-->

        </div> <!-- end vue app-->
    </body>
</main>

{% block script %}
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script type="text/javascript" src="https://s3.tradingview.com/tv.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>


<script type="text/javascript">

var report = navigator.userAgent
console.log(report)

let mobile = false

if (report.includes('Android') || report.includes('iPhone') ) {
    mobile = true
    console.log('mobile')
}

startVue()


function startVue(){

let vue = new Vue({

    el: '#vue-app',
    delimiters: ['[[', ']]'],
    mounted: function() {
        this.getAssets()
    },
    data: {
        rows: 3,
        alerts: [],
        trades: [],
        funds: '==',
        liquidation: '',
        stop: '',
        passcode: 123,
        assets: {},
        errors: {},
        editAsset: '',
        codeNotice: 'test',
        totalProp: 0,
        showData: '--',
        showAsset: '',
        parameters: {
            lev : '',
            stop : '',
            prop : ''
        },
        usernotes: {
            LEVERAGE : 'Exchange leverage cannot be controlled by the bot',
            l2 : 'User must make sure exchange leverage and bot leverage is the same for position size calculation',
            l3 : 'Leverage cannot be changed while a position is open',
            PROPORTION : 'Proportion of funds allocated to each asset is in %',
            p1 : 'Note: 5% of account will always be left available to avoid insufficient balance error',
            p2 : 'When changing proportion alloacation of an asset, the reblance will occur when a new position is opened',
            p3 : 'Changing proportions on assets may be blocked if the new proportions conflict with current open position allocations',
            p4 : '!! If you remove funds from your collateral on the exchange while positions are open, you may get an insufficientFunds error if another asset tries to open a new position',
            TRADINGVIEW : 'Alerts set once per bar close on hourly timeframe, alert message must use the following json format for buy or sell:',
            t1 : '{"TICKER":"{{ticker}}", "SIDE":"buy", "TVCODE":"...", "TIME":"{{time}}", "TF":"{{interval}}"}',
            t2 : '{"TICKER":"{{ticker}}", "SIDE":"sell", "TVCODE":"...", "TIME":"{{time}}", "TF":"{{interval}}"}',
            t3 : 'TVCODE must match app environment variable',
            STOP : 'Stop is measured by ticks on the asset',
            s1 : 'Stop calculation cannot be too close or more than estimated liquidation price',
            s2 : 'Stop must be greater than 0.5% of price',
            KRAKEN : 'You can still interact with Kraken exchange manually',
            k1 : 'You can move the set stoploss or open a new position',
            k2 : 'If you add stop loss manually that will not be found and removed by the bot so must remove it manually',
            k3 : 'If you add a position manually you must calculate the proportion in accordance with what is set on the bot for that asset',
            k4 : 'If you add a position on an asset that is not assigned to the bot, account for the proportion of funds that are not available to the bot when setting bot assigned proportions',

        }
    },
    methods: {
        toggleData: function (asset) {
            this.showAsset = asset
            if (this.showData == '--') {
                this.showData = 'Alerts'
            } else if (this.showData == 'Alerts') {
                this.showData = 'Trades'
            } else if (this.showData == 'Trades') {
                this.showData = 'Errors'
            } else {
                this.showData = '--'
            }
        },
        editSave: function (asset) {
            let assetOBJ = this.assets[asset]
            let params = this.parameters
            if (this.editAsset != '' && assetOBJ['lev'] != params['lev']){
                console.log(params['lev'])
                if (params['position'] == 'short' || params['position'] == 'long') {
                    alert('Cannot change leverage while position is open\nplease close position and make sure leverage on exchange and bot is the same')
                    return false
                }
                if (params['lev'] < 2) {
                    alert('Levarage should be > 1')
                    return false
                }

            }
            if (this.editAsset != '' && assetOBJ['stop'] != params['stop']){
                let price = assetOBJ['price']
                let lev = params['lev']
                let liquidation = price - (price / lev + 0.2 )
                let stopCalc = price - params['stop']
                let onePrct = price - price*0.005
                this.liquidation = liquidation
                this.stop = stopCalc
                console.log(liquidation)
                if (stopCalc < liquidation) {
                    alert('Stop is less than liquidation price')
                    return false
                } else if (params['stop'] <= 0) {
                    alert('Stop cannot be zero')
                    return false
                }

            }
            if (this.editAsset != '' && assetOBJ['prop'] != params['prop']){

                totProp = 0
                /// calculate prop
                if (totProp > 100) {
                    alert('Proportion balance to large; please close open positions to allow bot to rebalance correctly')
                    return false
                }

            }


            if (this.editAsset == asset && this.params) {
                let set = this.setAsset(asset)
                this.editAsset = ''
                this.stop = ''
                this.liquidation = ''
            } else {
                this.editAsset = asset
            }

        },
        goTo: function(link){

            var str = window.location.href.split('trade')[0]

            let url = str + link

            console.log('goTO', url);
            window.location = url
        },
        getMargin: function () {
            if (this.mobile) {
                return "content-section bg-dark rounded"
            } else {
                return "content-section m-5 bg-dark rounded"
            }
        },
        getTradeDiv: function () {
            if (this.mobile) {
                return "align-items-start m-0 rounded"
            } else {
                return "row align-items-start m-1 rounded"
            }
        },
        getSideColor: function (asset) {
            let styles = {
                1 : "text-success text-xsmall bg-dark",
                2 : "text-info text-xsmall bg-dark",
                3 : "text-warning text-xsmall bg-dark",
                4 : "text-white text-xsmall bg-dark",
                5 : "text-success text-xsmall bg-dark",
                6 : "text-info text-xsmall bg-dark",
                7 : "text-warning text-xsmall bg-dark",
                8 : "text-white text-xsmall bg-dark"
            }
            let count = 1
            for (let a in this.assets) {
                console.log(a)
                if (a == asset) {
                    return styles[count]
                }
                count += 1
            }
            return styles[8]
        },
        getLevStyle: function () {
            if (this.orderData.leverage < 1) {
                return 'background:red'
            }
        },
        getOrder: function (mode, x) {
            console.log('getData', mode, x)


            $.ajax({
                data : {
                    mode: mode,
                    price: vue.orderData['price'],
                    stop: vue.orderData['stop'],
                    profit: vue.orderData['profit'],
                    side: vue.orderData['side'],
                    volume: vue.orderData['volume'],
                },
                type : 'POST',
                url : '/getOrder'

            })
            .done(function(data) {
                console.log(data.result, data.mode)

            })
            .fail(function(){
                  alert('error has occurred gData');
            });
        },
        setOrder: function (side) {
            if (side == 'Buy') {
                this.orderData.side = 'Buy'
            } else if (side == 'Sell') {
                this.orderData.side = 'Sell'
            }
        },
        getTicker: function (ticker) {
            console.log('getTicker')

            $.ajax({
                data : {
                    ticker: ticker
                },
                type : 'POST',
                url : '/getTicker'

            })
            .done(function(data) {
                console.log(data, data.result)
            })
            .fail(function(){
                  alert('error has occurred getTicker');
            });
        },
        getFunds: function () {
            console.log('getFunds')

            $.ajax({
                data : {
                },
                type : 'POST',
                url : '/getFunds'

            })
            .done(function(data) {
                console.log(data, data.result)
                vue.funds = data.result
            })
            .fail(function(){
                  alert('error has occurred getFunds');
            });
        },
        getAssets: function () {
            console.log('getAssets')


            $.ajax({
                data : {
                    pw: this.passcode
                },
                type : 'POST',
                url : '/getAssets'

            })
            .done(function(data) {
                console.log(data)
                parseData = JSON.parse(data)
                console.log(parseData['assets'])
                vue.assets = parseData
            })
            .fail(function(){
                  alert('error has occurred getAssets');
            });
        },
        setAsset: function (asset) {
            console.log('setAssets', this.parameters)

            params = this.parameters


            $.ajax({
                data : {
                    pw: this.passcode,
                    asset: asset,
                    stop: params['stop'],
                    lev: params['lev'],
                    prop: params['prop']
                },
                type : 'POST',
                url : '/setAsset'

            })
            .done(function(data) {
                console.log(data)
                location.reload()
            })
            .fail(function(){
                  alert('error has occurred getAssets');
            });
        }
    },
    computed: {

    },
    watch: {
        editAsset: function () {
            if (this.editAsset == '') {
                this.parameters = {
                    lev : '',
                    stop : '',
                    prop : '',
                    position : '',
                }
            } else {
                asset = this.assets[this.editAsset]
                this.parameters['lev'] = asset['lev']
                this.parameters['stop'] = asset['stop']
                this.parameters['prop'] = asset['prop']
                this.parameters['position'] = asset['position']
            }
        }
    }

})// end NEW VUE

}


</script>



{% endblock %}



